/* Box sizing rules */
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
	background-color: $body-bg; // 2
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

a {
	color: $link-color;
	text-decoration: $link-decoration;
	background-color: transparent; // Remove the gray background on active links in IE 10.
	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
	/* stylelint-disable */
	text-decoration-skip-ink: auto;
	/* stylelint-enable */
	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
.article-modules > * + * {
	margin-top: 4rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}
