$white:  #fff !default;
$primary-100: #0D1103 !default;
$primary-200: #161E05 !default;
$primary-300: #354A0D !default;
$primary-400: #74A11C !default;
$primary-500: #95CE24 !default;
$primary-600: #ABDE44 !default;
$primary-700: #BEE670 !default;
$primary-800: #D2EE9B !default;
$primary-900: #E6F5C7 !default;
$black:  #000 !default;

$primarys: (
	100: $primary-100,
	200: $primary-200,
	300: $primary-300,
	400: $primary-400,
	500: $primary-500,
	600: $primary-600,
	700: $primary-700,
	800: $primary-800,
	900: $primary-900
) !default;

$spacer:                2rem;

$body-bg:       $white !default;
$body-color:    #181B18 !default;

$primary: $primary-500;
$secondary: #99b82e;




$font-header: "Helvetica Neue", sans-serif;
$font-base: $font-header;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.6;
$border-width: 1px !default;
$border-color: darken(#f3f0f0, 10%);
$link-color:            #002e68 !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


$enable-rounded:            false !default;


$site-width: 1600px;

// breakpoints
$width-xs: 320px;
$width-sm: 600px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1640px;



$thumbnail-padding:           .25rem !default;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border-width:      $border-width !default;
$thumbnail-border-color:      #ddd !default;
$thumbnail-box-shadow:        0 1px 2px rgba($black,.075) !default;
$thumbnail-transition:        all .2s ease-in-out !default;


$section-margin: 10em;
