%footer {
	height: 80px;
	@include md-up {
		height: 150px;
	}
}
.site-footer {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 10rem;
	
	/* stylelint-disable */
	
	background-image: 
		radial-gradient( ellipse at bottom,
		rgba($primary-500, .4) 30%, 
		rgba($primary-600, .3) 45%, 
		rgba($primary-700, .2) 50%, 
		rgba($primary-800, .1) 55%,
		transparent 70%);

	@include md-up {
		background-image: 
			radial-gradient( ellipse at center,
			rgba($primary-500, .4) 10%,
			rgba($primary-500, .1) 45%,
			transparent 60%);
	}
	/* stylelint-enable */
	&__birdie {
		position: absolute;
		top: 0%;
		transform: translateY(-100%);
		right: 5rem;
		width: 8rem;
		z-index: 10;
	}

	&__top {
		position: relative;
		@extend %footer;
	}
	&__waves {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		@extend %footer;		
	}
	&__svg {
		@extend %waves;
		fill: $primary-100;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
		background-color: $primary-100;
		padding: 4rem 0;
	}
	&__logo {
		margin-bottom: 1rem;
	}
	&__payoff {
		font-size: $font-2;
		font-family: $font-header;
		color: #fff;
		font-weight: 900;
	}

}

