%footer {
	height: 80px;
	@include md-up {
		height: 150px;
	}
}
.site-footer {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 10rem;
	
	/* stylelint-disable */
	
	background-image: 
		radial-gradient( ellipse at bottom,
		rgba($primary-500, .4) 30%, 
		rgba($primary-600, .3) 45%, 
		rgba($primary-700, .2) 50%, 
		rgba($primary-800, .1) 55%,
		transparent 70%);

	@include md-up {
		background-image: 
			radial-gradient( ellipse at center,
			rgba($primary-500, .4) 10%,
			rgba($primary-500, .1) 45%,
			transparent 60%);
	}
	/* stylelint-enable */
	&__birdie {
		position: absolute;
		top: 0%;
		transform: translateY(100%);
		width: 165px;
		height: 95px;
		z-index: 0;
		opacity: 1;
		transition: all .2s ease;
		right: 2rem;
		@include md-up {
			right: 5rem;
		}
		&.jubii {
			transform: translateY(-100%);
			.pippip {
				animation: pippip .4s forwards .3s linear;
			}
		}
		.bird {
			width: 44px;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		.pippip {
			position: absolute;
			top: 0;
			left: 0;
			width: 129px;
			height: 89px;
			transform-origin: bottom right;
			transform: scale(0) rotate(-5deg);
		}
	}

	&__top {
		position: relative;
		@extend %footer;
	}
	&__waves {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		@extend %footer;		
	}
	&__svg {
		@extend %waves;
		fill: $primary-100;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
		background-color: $primary-100;
		padding: 4rem 0;
	}
	&__logo {
		margin-bottom: 1rem;
		position: relative;
		&:after {
			width: calc(100% - 1rem);
			height: calc(100% - 1rem);
			content: '';
			box-shadow: 0 0 100px $primary-500;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			border-radius: 50%;
			z-index: -1;
		}
	}
	&__payoff {
		font-size: $font-2;
		font-family: $font-header;
		color: #fff;
		font-weight: 900;
	}
	&__sosume {
		font-size: $font-0;
		margin-top: 2rem;
		color: #a2a2a2;
		text-align: center;
		line-height: 2;
		a {
			color: #a2a2a2;
			text-decoration: none;
			transition: color .2s ease;
			&:hover {
				color: #fff;
			}
		}
	}
}

@keyframes pippip {
	0% {
		transform: scale(0) rotate(-5deg);
	}
	33% {
		transform: scale(1.5) rotate(5deg);
	}
	66% {
		transform: scale(1) rotate(-5deg);	
	}
	100% {
		transform: rotate(0deg) scale(1);
	}
}

