%footer {
	height: 100px;
	@include md-up {
		height: 150px;
	}
}
.site-footer {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 10rem;
	
	&__birdie {
		position: absolute;
		top: 0;
		right: 5rem;
		transform: translateY(-100%);
		width: 8rem;
	}

	&__top {
		position: relative;
		@extend %footer;
	}
	&__waves {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		@extend %footer;		
	}
	&__svg {
		@extend %waves;
		fill: $primary-300;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
		background-color: $primary-300;
		padding: 4rem 0;
	}
	&__logo {
		margin-bottom: 1rem;
	}
	&__payoff {
		font-size: $font-2;
		font-family: $font-header;
		color: #fff;
		font-weight: 900;
	}

}