.hero {
	@extend %section-margin--sm;
	&--standard {
		margin: 8rem auto 6rem;
		.hero__figure {
			display: block;
			padding: 0 1rem;
		}
	}
	&--waves {
		width: 100%;
		height: 600px;
		position: relative;
		@include md-up {
			height: 600px;
		}
		@include lg-up {
			height: 700px;	
		}
		@include xl-up {
			height: 800px;	
		}
		&-page {
			@include md-down {
				max-height: 50vh;
			}
		}
		
		.hero__figure {
			overflow: hidden;
			width: 100%;
			height: 100%;
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			transform: scale(1.1);
			.loaded & {
				animation: zoomOut 4s forwards cubic-bezier(0.29, 0.57, 0.35, 0.63); 
			}
		}
		&__waves {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100px;
			@include md-up {
				height: 150px;	
			}
			@include lg-up {
				height: 200px;	
			}
			@include xl-up {
				height: 285px;	
			}
		}
	}

	&__svg {
		@extend %waves;
		fill: #fff;
	}
}

@keyframes zoomOut {
	from {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}

