.container {
	max-width: 1060px;
	margin: 0 auto;
	&--padding {
		padding: 0 2rem;
	}
	&--section {
		@extend %section-margin;
	}
}

.entry__content {
	width: 100%;
	max-width: 700px;
	padding: 0 2rem;
	margin-left: auto;
	margin-right: auto;
	@extend %section-margin;
}

h1 {
	font-size: $font-6;
	@include md-up {
		font-size: $font-7;
	}
	@include lg-up {
		font-size: $font-8;
	}
	span {
		font-weight: 400;
	}
}


.section {
	&--dark {
		padding: 4rem 0;
	}
}

.instagram {
	&__header {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		width: 3rem;
		margin-bottom: 1rem;
	}
	&__link {
		color: #000;
	}
}
