.container {
	max-width: 1060px;
	margin: 0 auto;
	&--padding {
		padding: 0 2rem;
	}
}

.entry__content {
	width: 100%;
	max-width: 700px;
	padding: 0 2rem;
	margin-left: auto;
	margin-right: auto;
	@extend %section-margin;
}