.container {
	max-width: 1060px;
	margin: 0 auto;
	&--padding {
		padding: 0 2rem;
	}
	&--section {
		@extend %section-margin;
	}
}

.entry__content {
	width: 100%;
	max-width: 700px;
	padding: 0 2rem;
	margin-left: auto;
	margin-right: auto;
	@extend %section-margin;
	h1, 
	h2, 
	h3 {
		margin-top: 2rem;
	}
}


h1,
.h1 {
	font-size: $font-6;
	@include md-up {
		font-size: $font-7;
	}
	@include lg-up {
		font-size: $font-8;
	}
	span {
		font-weight: 400;
	}
}



.section {
	&--instagram {
		padding: 4rem 0;
		
		
	}
	&--gray {
		padding: 4rem 0;
	}
	&__header {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__subheader {
		text-align: center;
	}
}

.instagram {
	&__logo {
		width: 3rem;
		margin-bottom: 1rem;
		fill: #000;
	}
	&__link {
		color: #000;
	}
}

.partners {
	margin: 0 -2rem;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	align-content: center;
	justify-content: center;
	&__item {
		padding: 2rem;
		flex: 0 0 50%;
		max-width: 50%;
		height: 10rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		filter: grayscale(100%);
		transition: all .2s ease;
		opacity: .5;
		&:hover {
			filter: grayscale(0);
			opacity: 1;
		}

		@include md-up {
			flex: 0 0 20%;
			max-width: 20%;
		}
		@media (max-aspect-ratio: 1/1) {
			li {
				height: 14rem;
			}
		}

		&:first-child {
			flex: 1 0 100%;
			max-width: 100%;
		}
	}
	a {
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;

	}
	&__logo {
		max-height: 100%;
		width: auto;
	}

}
