.btn {
	display: inline-block;
	align-items: center;
	font-weight: 600;
	line-height: 1;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 0;
	font-family: $font-header;
	transition: all .2s ease;
	cursor: pointer;
	border-radius: 40px;
	padding: 14px 25px;
	font-size: $font-2;
	box-shadow: 0 2px 0 $primary-300;
	@include md-up {
		padding: 18px 40px;
		font-size: $font-3;
	}
	&:hover {
		text-decoration: none;
		.btn__arrow {
			transform: translateX(5px);
		}
	}
	&:focus {
		outline: 0;
	}
	
	&.disabled,
	&:disabled {
		opacity: .55;
		box-shadow: none;
		cursor: unset;
		background-color: #000;
	}
	&__arrow {
		@extend %arrow;
		fill: #fff;
	}
}

.btn--primary {
	background-color: $primary-500;
	color: #fff;
	&:hover:not(:disabled) {
		background-color: $primary-400;
		color: #fff;
		box-shadow: 0 0 0 $primary-300;
	}
}

	
